.section-inspiration{
    background-color: #fff;
    max-width: 100%;
    width: 100%;
    padding: 96px 80px;
    overflow: hidden;
}

.section-inspiration .container *{
    padding: 0;
    margin: 0;
}

.section-inspiration .container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.section-inspiration .container .feature__content{
    max-width: 768px;
    padding-left: 32px;
    width: 100%;
    height: 160px;
}

.section-inspiration .container .feature__content span{
    color: rgba(105, 65, 198, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
}

.section-inspiration .container .feature__content h2{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2px;
    margin: 12px 0 20px;    
}

.section-inspiration .container .feature__content p{
    color: rgba(71, 84, 103, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
}

.section-inspiration .container .feature__cards{
    display: flex;
    justify-content: space-between;
    gap: 64px;
    max-width: 1280px;
    width: 100%;
    /* height: 560px; */
    height: auto;
    margin-top: 65px;
}

.section-inspiration .container .feature__cards-background{
    width: 576px;
    height: auto;
    background-color: rgba(29, 41, 57, 1);
}

.feature__cards-background .feature__cards-background-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

.feature__cards-background .feature__cards-background-inner img{
    position: absolute;
    object-fit: contain;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
}

.feature__cards-background .feature__cards-background-inner .cards-background-inner--top {
    top: 25px;
    left: 76.81px;
    width: 560px;
    height: 470px;
    z-index: 2;
    content-visibility: auto;
}

.feature__cards-background .feature__cards-background-inner .cards-background-inner--middle{
    bottom: -37px;
    left: 32px;
    width: 640px;
    height: 511px;
    z-index: 1;
    content-visibility: auto;
} 

.feature__cards-background .feature__cards-background-inner .cards-background-inner--bottom{
    bottom: -134px;
    left: 8px;
    width: 679px;
    height: 515px;
    content-visibility: auto;
}

.section-inspiration .container .feature__cards .feature__cards-inner{
    display: flex;
    flex-direction: column;
    margin: 22px 0 22px 32px;
    max-width: 576px;
    width: 100%;
    gap: 48px;
}

.section-inspiration .container .feature__cards .feature__cards-inner .feature__card{
    display: flex;
    gap: 16px;
}

.section-inspiration .container .feature__cards .feature__cards-inner .feature__card .feature__card-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(244, 235, 255, 1);
    border: solid 8px rgba(249, 245, 255, 1);
    border-radius: 28px;
    min-width: 48px;
    width: 48px;
    height: 48px;
}

.section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content{
    margin: 10px 0 0;
    max-width: 512px;
    width: 100%;
}

.section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content .feature__card-title{
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0;
    margin-bottom: 8px;
}

.section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content .feature__card-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: rgba(71, 84, 103, 1);
    margin-bottom: 20px;
}

.section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content .feature__card-link{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    text-decoration: none;
    color: rgba(23, 92, 211, 1);
}

.feature--card-mobile{
    display: none;
}

@media screen and (max-width: 1380px){

    .section-inspiration .container .feature__cards{
        align-items: center;
    }

    .feature__cards-background-inner{
        display: none;
    }

    .section-inspiration .container .feature--card-mobile{
        display: block;
        object-fit: cover;
        height: 413px;
        margin: 0 auto;
    }

    .section-inspiration .container .feature__cards-background{
        background-color: #fff;
        height: 100%;
    }

    .section-inspiration .container .feature__cards .feature__cards-inner img{
        object-fit: cover;
        height: auto;
        max-width:375px;
        width: 100%;
    }

}

@media screen and (max-width: 992px){

    .section-inspiration .container .feature__cards{
        height: auto;
    }

    .section-inspiration .container .feature__content span{
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0;
    }

    .section-inspiration .container .feature__content h2{
        font-weight: 600;
        font-size: 30px;
        line-height: 38px;
        letter-spacing: 0;
        margin-bottom: 16px;
    }

    .section-inspiration .container .feature__content p{
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0;
    }

    .section-inspiration .container .feature__cards{
        flex-direction: column;
        align-items: center;
        margin-top: 48px;
        gap: 24.62px;
    }

    .section-inspiration {
        background-color: #fff;
        max-width: 100%;
        width: 100%;
        padding: 64px 16px 0;
    }

    .section-inspiration .container .feature__content{
        padding: 0;
        height: auto;
    }

    .section-inspiration .container .feature__cards .feature__cards-inner{
        gap: 40px;
        padding: 0;
        margin: 0;
    }

    .section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content{
        margin: 6px 0 0;
    }
    
    .section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content .feature__card-title{
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0;
        margin-bottom: 4px;
    }

    .section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content .feature__card-description{
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0;
        margin-bottom: 16px;
    }

    .section-inspiration .container .feature__cards .feature__cards-inner .feature__card-content .feature__card-link{
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
    }
}